<div>
  <p><%= event.user.name %>将任务: <%= event.ext_data[:todo_title] %>的完成时间由<%= event.ext_data[:finished_at_was] %>改为了<%= event.ext_data[:finished_at] %>, 所属项目: <%= event.project.name %>, 发生时间: <%= event.created_at %>
</div>
