<div>
  <p><%= event.user.name %>将任务: <%= event.ext_data[:todo_title] %>的分配者由<%= User.find_by_id(event.ext_data[:assignee_id_was]).try(:name) %>改为了<%= User.find_by_id(event.ext_data[:assignee_id]).try(:name) %>, 所属项目: <%= event.project.name %>, 发生时间: <%= event.created_at %>
</div>
