<!DOCTYPE html>
<html>
  <head>
    <title>TowerDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <div class="nav">
      <%= link_to 'Events(default)', root_path %> |
      <%= link_to 'Team', teams_path %> |
      <%= link_to 'User', users_path %> |
      <%= link_to 'Project', projects_path %> |
      <%= link_to 'Todo', todos_path %> |
      <%= link_to 'Comment', comments_path %> |
    </div>
    <%= yield %>
  </body>
</html>
